My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sbi-parser",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "ff08d279-f534-4140-b335-80734bccaa13",
      "name": "Webhook",
      "webhookId": "5c668ca1-891f-49f1-82d2-4a867031eb4e"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        208
      ],
      "id": "37b8526c-21c5-412f-a092-d71cbb49a755",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "uggPBds5bEg3qhkN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Extract transactions to a raw JSON array. Keys: date, description, amount, type, reference number, balance. \n\"Type\": Determine this based on the movement:\n\nIf the money left the account (WDL/DR/Withdrawal), set Type to \"DEBIT\".\n\nIf the money entered the account (DEP/CR/Deposit/Interest), set Type to \"CREDIT\".\n\nReturn ONLY the raw JSON array. No conversational text.",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        0
      ],
      "id": "286edac1-6890-4e73-b58c-338029a9892d",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.parse($node[\"AI Agent\"].json.output.replace(/```json|```/g, \"\")) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        704,
        0
      ],
      "id": "5e3e1aab-f316-4012-a9a2-1e9f17c273fb",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "df962a09-c0ae-41a7-a2e5-bf4dd3e9fd54",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9a96eb87-dca6-4c47-a264-a3054a92caf9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8e15258d768d1bea0f74e66d0a65e573ca78feda1a0b574c52675ce4629550c"
  },
  "id": "VPFjl1trgIMCfPdK",
  "tags": []
}